@import "~compass-mixins";

// -------------------------------------------
// Mixins
// -------------------------------------------

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin sq($s) {
    @include size($s, $s);
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

// -------------------------------------------
// Fonts
// -------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$defaultFont: 'Open Sans', sans-serif;
$logoFont: 'Georgia', serif;

// -------------------------------------------
// Colors 
// -------------------------------------------

$gray1: #FFF;
$gray2: #E4E8E8;
$gray4: #384240;
$gray5: #1F2423;

$maroon3: #A36F8A;
$pink3: #B995B8;
$hotpink4: #E8248A;
$teal3: #749CA4;
$green3: #9CC2AF;


// -------------------------------------------
// Application
// -------------------------------------------

$defaultFontColor: $gray2;
$appBackgroundColor: $gray4;

$symptomColor: $maroon3; 
$eventColor: $pink3;
$sleepColor: $teal3;
$excerciseColor: $green3;

$inputColors: $teal3;
$linkColor: $teal3;
$errorColor: $hotpink4;

// -------------------------------------------
// Sizes
// -------------------------------------------

$defaultMarginsLeftRight: 45px;
$mainHeaderHeight: 50px;
$exmpandedChartSize: 200px;

// -------------------------------------------
// Animations
// -------------------------------------------
$homeServicesExpand: all 300ms ease-in-out;