@import "base";

.HomeLineGraph{

    @include size(100%, $expandedChartSize);
    @include transition($homeServicesExpand);
    position: absolute;
    overflow: visible;
    cursor: pointer;
    top: $mainHeaderHeight;
    z-index: 3;

    .addMode #mainContent &{
        // @include transform(scale(0.95));
        // opacity: 0;
        // flex: 0;
    }
    .HomeGraphFilter {
        top: -($buttonGroupCalculatedHeight+$buttonGroupTopMargin);
        .ButtonGroup{
            padding-top: $buttonGroupTopMargin;
        }
    }

    .LineGraph{
        flex: 1;
    }

    &:before{
        // content: "";
        // display: block;
        // position: absolute;
        // width: 200%;
        // height: 50%;
        // margin-left: -50%;
        // background: $gray5;
        // bottom: -20%;
        // opacity: 0.8;
        // @include filter(blur(50px));
        // @include transition($homeServicesExpand);
    }

    .chartMode #mainContent &{
        top: ($mainHeaderHeight + $buttonGroupCalculatedHeight);
        &:before{
            opacity: 0;
            bottom: -100%;
        }
    }
}