@import "base";

.HomeLineGraphToggleSettings{
    @include transition($homeServicesExpand);
    position: relative;
    box-sizing: border-box;
    padding: ($expandedChartSize+$buttonGroupCalculatedHeight) $defaultMarginsLeftRight $defaultMarginsLeftRight*2;

    .chartMode #mainContent &{
        z-index: 3;
    }

    // &.chart-enter {
    //     opacity: 0.01;
    // }

    // &.chart-enter.chart-enter-active {
    //     opacity: 1;
    //     top: 0;
    // }

    // &.chart-leave {
    //     opacity: 1;
    // }

    // &.chart-leave.chart-leave-active {
    //     opacity: 0.01;
    // }
}