@import "base";

.Home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    #mainContent{
        flex-direction: column;
        display: flex;
        flex-basis: calc(100% - #{$mainHeaderHeight});
        background: $gray4;
        @include transition($homeServicesExpand);
    }

    .homeLineGraphContainer{
        flex: 3;
        @include transition($homeServicesExpand);
        position: relative;
        overflow: scroll;
        > * {
            // border: 1px solid red;
        }
        .transitioningContent{
            position: relative;
            top: 0;
        }
    }


    &.addMode{
        #mainContent {
            flex-basis: 100%;
        }
    }

    &.chartMode{
        .homeLineGraphContainer{
            .transitioningContent{
                top: 200px;
            }
        }
    }

    .services-enter {
        opacity: 0.01;
    }

    .services-enter.services-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .services-leave {
        opacity: 1;
    }

    .services-leave.services-leave-active {
        opacity: 0.01;
        transition: all 300ms ease-in;
    }
}