@import "base";

$ct-text-color: $defaultFontColor;
$ct-text-size: 10px;

@import '../../lib/chartist/chartist.scss';


.LineGraph{

    .ct-chart{
        position: absolute;
        @include sq(100%);
        overflow: hidden;
        // padding: $defaultMarginsLeftRight;
    }

    .ct-line{
        stroke-linecap: round;
    }

    .ct-label{
        text-transform: uppercase;
        opacity: 0.63;
        margin-left: -50%;
        text-align: center !important;
        display: inline-block !important;
        vertical-align: top;
        white-space: nowrap;
    }
}