@import "base";
@import '../../lib/chartist/overrides.scss';
@import '../../lib/chartist/chartist.scss';

.LineGraph{
    flex: 4;
    overflow: hidden;
    @include transition($homeServicesExpand);
    position: relative;
    .open #mainContent &{
        flex: 0;
    }
    .ct-chart{
        position: absolute;
        @include sq(100%);
        overflow: hidden;
    }
}